* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

body {
  background-color: #f5f3ef;
  color: #2e2e2e;
  padding: 0px;
}

.content {
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.content h2 {
  margin-bottom: 20px;
  color: #2e4a29;
  text-shadow: -1px -1px 5px #11bb1198;
}

.content p {
  font-size: 18px;
  color: #097a0b;
}


#topic {
  font-size: 50px;
  position: relative;
  display: inline-block;
}

#topic::after {
  content: "";
  padding: 0px 0px 0px 0px;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 8px;
  height: 25px;
  background-color: #f8ab059c;
  z-index: -1;
}

/*upload section*/
@keyframes up {
  0%   { transform: translateY(15px); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(15px); }
}

.upload-section {
  background-color: #f2e7db;
  padding: 50px;
  text-align: center;
  margin-bottom: 0px;
}

.upload-section h2 {
  color: #785633;
  text-shadow: -2px 0 5px #bc6b2599;
}

.upload-text {
  margin-top: 30px;
  font-size: larger;
  color: #785633;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.upload-box {
  border: 2px dashed #aaa;
  padding: 45px 0 40px;
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.upload-box:hover {
  box-shadow: 0 0 10px #007117ad;
  border: 2px dashed #0b820d;
}

.upload-box:hover .upload-icon,
.upload-box:hover .upload-text {
  transform: translateY(-0px);
}

.upload-box:hover .upload-icon {
  animation: none;
}

.upload-box:hover .upload-text {
  text-shadow: -1px -1px 5px #11bb1199;
  color: #0b820d;
}

.upload-box:hover .upload-icon img {
  filter: drop-shadow(-0px 0px 4px #11bb1199);
  transition: filter 0.1s ease;
}

.upload-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.upload-icon img {
  animation: up 2s ease-in-out infinite;  
}

.upload-icon img.hover-icon {
  display: none;
}

.upload-box.uploaded .upload-icon img {
  transform: scale(0.8);
  transition: transform 0.3s ease;
  filter: none;
  animation: up 2s ease-in-out infinite;
}

.upload-box:not(.uploaded):hover .upload-icon img.default-icon {
  display: none;
}
.upload-box:not(.uploaded):hover .upload-icon img.hover-icon {
  display: block;
  background-color: transparent;
  transition: transform 0.3s ease;
  align-items: center;
}

.note {
  font-size: 14px;
  margin-top: 18px;
  color: #bababa;
}

.upload-box.uploaded {
  border-color: #4caf50;
  background-color: #e8f5e9;
}

.upload-box.uploaded .upload-icon,
.upload-box.uploaded .upload-text {
  text-shadow: none;
  color: #0b820d;  
  animation: none;
  transform: translateY(0);
}

.submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #3e8e41;
  transform: scale(1.05);
  box-shadow: #0639016f 0 -25px 18px -14px inset, 0px 5px 32px 3px #1d60005d;
}

.submit-btn:disabled {
  background-color: #bcaa94;
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
}


/*data section*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding: 50px 25px 50px 25px;
  background-color: #92be86;
}

.map-card,
.table-card {
  flex: 1 1 48%;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px #0a6e0192;
}

.map-card h3,
.table-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #498f3f;
  margin: 10px 0px 20px 0px;
}

#map {
  width: 100%;
  height: 450px;
  border-radius: 15px;
  margin-top: 10px;
}

.table-wrapper {
  overflow-x: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 79, 22, 0.453);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: #cabead;
  color: #4b2a00;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f8f8f1;
}

.play-btn {
  border: 0;
  border-radius: 100%;
  padding: 10px;
  background-color: #fdedc8;
  transition: all 0.2s;
}

.play-btn:hover {
  background-color: #d2baa1;
  box-shadow: 0 0 5px #70360374;
}

/*result*/
.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.popup-content img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.feedback-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.feedback-btns button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.correct { background: #4caf50; }
.unsure { background: #757575; }
.wrong { background: #e53935; }

.correct:hover { background-color: #08680b; }
.unsure:hover  { background-color: #444444; }
.wrong:hover   { background-color: #860907; }

div .more-link {
  display: flex;
}

.more-link {
  background-color: #759b6d;
  border-radius: 30px;
  box-shadow: #cc852160 0 -25px 18px -14px inset,
  rgba(44, 187, 99, .15) 0 1px 2px,rgba(168, 187, 44, 0.15) 0 2px 4px,
  rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
  rgba(44, 187, 99, .15) 0 16px 32px;
  cursor: pointer;
  padding: 7px 20px;
  transition: all 0.5s;
  border: 0;
  touch-action: manipulation;
  margin-top: 20px;
  margin-left: auto;
  align-items: end;
}

.more-link a {
  font-weight: lighter;
  color: #eeeeee;
  font-size: 16px;
  user-select: none;
  text-align: center;
  text-decoration: none;  
}

.more-link:hover {
  background-color: #b09b7a;
  box-shadow: rgba(122, 73, 4, 0.607) 0 -25px 18px -14px inset,
  rgba(187, 127, 44, 0.25) 0 1px 2px,rgba(187, 134, 44, 0.25) 0 2px 4px,
  rgba(165, 187, 44, 0.25) 0 4px 8px,rgba(185, 187, 44, 0.149) 0 8px 16px,
  rgba(187, 156, 44, 0.166) 0 16px 32px;
  transform: scale(1.05);
}

.more-link img {
  width: 25px;
  filter: brightness(0) invert(1);
}

.clickable-location {
  color: #11bd47;
  text-decoration: underline;
  cursor: pointer;
}

.clickable-location:hover {
  color: #a26b3e;
}

footer {
  padding: 80px;
  background-color: #2e4a29;
  margin: 0px;
}